
  .react-json-tree {
    .plus {
        border: 1px solid;
        width: 28px;
        line-height: 30px !important;
    }
    .group {
        &:last-child {
            border-left: 0;
        }
        .group {
            margin: 0 16px;
            position: relative;
            .child {
                margin: 8px 0;
                padding-left: 16px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    height: calc(100% + 16px);
                    top: 0px;
                    left: 0;
                    width: 1px;
                    background-color: #000;
                }
                &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 16px;
                    height: 1px;
                    background-color: #000;
                    top: 21px;
                    left: 0;
                }
                 &:last-child:before {
                    height: 22px;
                }
              }
          }
          span {
            cursor: pointer;
            margin: 0 8px;
            display: inline-grid;
            height: 28px;
            place-items: center;
            line-height: 28px;
          }
          input {
            height: 24px;
            margin: 0;
            font-size: 16px;
            padding: 0 4px;
          }
    }
  }
